/* navication effect */
nav .toggle-ul {
    animation: toggle-move 1s ease-in-out 1 forwards;
 }
@keyframes toggle-move {
    0%{
        left: 50%;
        opacity: 0;
    }100%{
        left: -25%;
        opacity: 1;
    }

    
 }
nav ul li a:hover{
    width: 70%;
    border-radius: 4px;
    border-bottom: 5px solid var( ---color-lightblue);
}
nav ul li a:active{
    width: 100%;
    border-radius: 4px;
    border-bottom: 0;
    color: var(---color-white);
    background-color: rgb(93, 149, 221);
}

/* main section button */
.hero-btn button:nth-child(1):hover,
.about-text-and-btn button:hover{
    color: var(---color-lightblue);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-btn button:nth-child(1):active,
.about-text-and-btn button:active{
    color: var(---color-white);
    background-color: var(---color-lightblue);
}
.hero-btn button:nth-child(2):hover {
    color: var(---color-white);
    background-color: var(---color-lightblue);
}
.hero-btn button:nth-child(2):active {
    color: var(---color-lightblue);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0);
}

/* footer section button */
.contact-content form button:hover {
    color: var(---color-white);
  background-color: var(---color-darkblue) ;
}
.contact-content form button:active {
  color: var(---color-lightblue);
  background-color: var(---color-white);
}
.contact-content form button .animate-image{
   animation: moveimage 1s ease-in-out forwards;
  }

  @keyframes moveimage {
    0%{
       top: 0;
       right: 0;

    } 100%{
        top: -1000%;
        right: -50%;   
    }
    
  }

