/* header and nav container */
.header-and-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: var(---color-white);
    display: flex;
    width: 100%;
    height: 4rem;
    max-height: 5rem;
}

/* header section */
.header-and-nav header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
    height: 100%;
    padding-left: var(---padding-3pg);
}
header div{
    height: 70%;
}
header div img{
    height: 90%;
    object-fit: cover;
    cursor: pointer;
}

/* nav section */
.header-and-nav nav{
    flex: 1 0;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: var(---padding-3pg);
}
nav ul{
    flex: 1 0;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column-gap: 2%;
    text-transform: uppercase;
}
nav ul a {
    flex: 1 0;
    height: inherit;
    padding: .5rem 0;
    display: grid;
    place-items: center;
    text-decoration: none;
}
nav ul a li{
    text-align: center;
    list-style: none;
    font-family: var(---lexend);
    font-size: 1.1em;
    font-weight: 600;
    color: var( ---color-darkerblue);
    letter-spacing: 1px;
    white-space: wrap;
    cursor: pointer;
    transition: all .15s ease-in-out;
}