.header-and-nav nav .toggle-nav{
    flex: 1 0;
    display: none;
    height: inherit;
    justify-content: end;
    align-items: center;
}
.toggle-nav button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 5px;
    width: 40px;
    height: 35px;
    background-color: rgba(0, 0 , 0 , 0);
    border: 1px solid var(---color-lightblue);
    border-radius: 4px;
}
button span{
    position: relative;
    width: 80%;
    height: 6%;
    background-color: var(---color-lightblue);
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0 , 0 , 0.1);
    transition: transform 0.15s ease-in-out;
}
button:hover{
    grid-row-gap: 0;
}
button:hover span{
    position: absolute;
}
button:hover span:nth-child(1),
button:hover span:nth-child(3){
    z-index: -1;
    width: 40%;
}
button:hover span:nth-child(1){
    bottom: 46%;
    transform: rotate(-45deg) translatex(-49%);
}
 button:hover span:nth-child(2){
    transform: rotate(45deg);
    z-index: 100;
 }
button:hover span:nth-child(3){
    top: 46%;
    transform: rotate(-45deg)  translateX(49%);
}
