:root{
    ---lexend-deca: 'Lexend';
    ---lexend: 'Lexend Deca';
    ---roboto: 'Roboto';
    ---poppins: 'Poppins';
    ---color-white: rgba(255, 255, 255, 1);
    ---color-darkerblue: rgba(5, 30, 85, 1);
    ---color-darkblue: rgba(14, 60, 138, 1);
    ---color-lightblue: rgba(46, 124, 223, 1);
    ---color-fulltrans: rgba(0, 0, 0, 1);
    ---color-lightbrown: rgba(203, 197, 193, 0.35);
    ---color-lighterbrown:  rgba(235, 219, 219, 1);
    ---padding-3pg: 3%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: sans-serif;
}
body{
    padding-top: 10px;
    background-color: var(---color-white);
}

h1,
h2{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    font-family: var(---lexend-deca);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bolder;
    color: var(---color-darkblue);
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
}
h2{
    font-family: var(---roboto);
    font-size: 1.9em;
    font-weight: 500;
    color: var(---color-darkblue);
}
h3,
h4{
    font-family: var(---lexend);
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 500;
}
h3{
    color: var(---color-darkblue);
}
h4{
    color: var(---color-lightblue);
}
p{
    font-family: var(---poppins);
    font-size: 1.1em;
}
button{
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
main button{
    text-transform: uppercase;
    font-family: var(---roboto);
    padding: 12px 25px ;
    border: 1px solid var(---color-lightblue);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main section,
footer section{
    position: relative;
    display: flex;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    padding-right: var(---padding-3pg);
    padding-left: var(---padding-3pg);
    overflow: hidden;
}
 footer section{
    background-color: var( ---color-lightblue);
}